[build]
  base = "project"
  publish = "dist"
  command = "rm -rf node_modules package-lock.json && npm install --force && npm run build"

[build.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

