redirectsOrigin = "config"
plugins = []
headers = []

[functions]

[functions."*"]

[build]
publish = "C:\\Users\\ginor\\Downloads\\project-bolt-sb1-syq8q77g\\project\\dist"
publishOrigin = "config"
commandOrigin = "config"
base = "C:\\Users\\ginor\\Downloads\\project-bolt-sb1-syq8q77g\\project"
command = "rm -rf node_modules package-lock.json && npm install --force && npm run build"

[build.environment]
NODE_VERSION = "20"

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]

[[redirects]]
from = "/onboarding"
to = "/index.html"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]

[[redirects]]
from = "/*"
to = "/index.html"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]